h1, h2, h3{
	font-family: 'Advent Pro', sans-serif;
}

.info-block{
	position: relative;
	min-height: 300px;
	height: 66%;
	color: #FFF;
	margin-bottom: 2em;
	box-shadow: 0 0 5px rgba(0,0,0,.3),0 1px 3px rgba(35,31,32,.3),0 1px 3px rgba(35,31,32,.3);
}


.error-page .info-block{
	height: 300px;
}

.section{
	margin-top: 2em;
	margin-bottom: 2em;
}

.about-company{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../img/bg_main.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 10% 0 0 0;
}

.about-company h1, .about-company h2{
	/* font-weight: bold; */
	color: #FFF;
	text-shadow: 0 0 15px rgba(0,0,0,.6),0 1px 6px rgba(35,31,32,.9),0 1px 6px rgba(35,31,32,.9);
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);
	margin-bottom: 2em;
}

.about-company p{
	text-shadow: 0 0 10px rgba(0,0,0,.3),0 1px 6px rgba(35,31,32,.3),0 1px 3px rgba(35,31,32,.3);
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);
}

.about-company h1 small{
	color: #EEE;
	line-height: 1.1em;
	display: block;
	font-weight: normal;
}

.footer{
	padding: 2em 0;
	margin-top: 2em;
	background-color: #666;
	color: #FFF;
	box-shadow: 0 0 5px rgba(0,0,0,.3),0 1px 6px rgba(35,31,32,.3),0 1px 6px rgba(35,31,32,.3);
}

.we-use img{
	margin-bottom: 5px;
}
